[abhishekamralkar]
	name = Abhishek Amralkar
	email = abhishekamralkar@gmail.com
[user]
	name = Abhishek Amralkar
	email = abhishekamralkar@gmail.com
	signinkey = 22E40F5ADA9AC87B
[core]
	editor = emacs
[commit]
	gpgsign = true
[pull]
	rebase = true
