[abhishekamralkar]
	name = Abhishek Amralkar
	email = abhishekamralkar@gmail.com
[user]
	name = Abhishek Amralkar
	email = abhishekamralkar@gmail.com
	signingkey = 18C10714CCE72EBB
[core]
	editor = emacs
[commit]
	gpgsign = true
