[abhishekamralkar]
	name = Abhishek Amralkar
	email = abhishekamralkar@gmail.com
[user]
	name = Abhishek Amralkar
	email = abhishekamralkar@gmail.com
	signingkey = 871612E7DDA87331
[core]
	editor = emacs
[commit]
	gpgsign = true
